h1 {
    font-weight: bolder;
    font-style: italic;
}

#gridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gridBlock {
    box-sizing: border-box;
    background-color: pink;
    border: 2px solid green;
    min-height: 1px;
    min-width: 1px;
    padding: 50px;
}